* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* css cho thẻ p */
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    height: 100%;
}

/* css cho container để làm màn hình */
.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* css cho header cách top 50px */
.header {
    margin-top: 50px
}

.title {
    display: flex;
    align-items: center;
}

.title .line {
    width: 5px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #81BECE;
}

/* css cho phần content: những item */
.content {
    width: 80%;
    margin-top: 64px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.content_item {
    /* nhận 1 đường link hình ảnh từ đâu đó */
    /* cách 1 để render image */
    /* background: url("../assets/Images/image_item.jpeg") no-repeat; */
    /* background-size: cover; */
    width: 100%;
    margin: 0 17px;
    border-radius: 30px;
    height: 450px;

    /* xoá tất cả những thừa ra bên ngoài thẻ div */
    overflow: hidden;

    /* position: fixed, relative, absolute */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_item_desc {
    background-color: #888;
    position: absolute;
    /* z-index: chỉnh độ ưu tiên xuất hiện của element */
    z-index: 2;
    bottom: 24px;
    width: 90%;
    height: 102px;
    /* bo góc */
    border-radius: 10px;
    padding: 10px
}

.tag {
    background-color: #FFB13C;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}
.container-2 {
    display: flex;
    background-color: #012d4c;
    padding: 5em 2em;
    width: 80%;
    font-weight: 100;
    border-radius: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
}
.form h1 {
    color: #ebebeb;
    margin-bottom: 0.5em;
}
.form h4 {
    color: white;
    margin-bottom: 2em;
    font-size: 13px;
}
.signup {
    color: #cf7e4b;
}

.title-2 {
    color: white;font-size: 10px;
    margin-bottom: 0.2em;
}
.repassword {
    color: white;
    font-size: 13px;
}
form .needtyping {
    border: solid #9dc1d2 1px;
}
form input {
    width: 25em;
    height: 3.5em;
    border-radius: 10px;
}
.submit {
    background-color: #fd884b;
    color: white;
    border: none;
    font-size: 1em;
    width: 21em;
    margin-bottom: 1em;
}